
.Rproj.user/354B9129/build_options
.Rproj.user/354B9129/sources/prop/E4359FBA
.Rproj.user/354B9129/sources/prop/INDEX
.Rproj.user/354B9129/sources/s-C84959BE/615BA3A0
.Rproj.user/354B9129/sources/s-C84959BE/615BA3A0-contents
.Rproj.user/354B9129/sources/s-C84959BE/7AAEF28A
.Rproj.user/354B9129/sources/s-C84959BE/7AAEF28A-contents
.Rproj.user/354B9129/sources/s-C84959BE/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/*
./data/
./data/sample/
*.Rproj
*.zip

.Rproj.user
*.csv
*.pdf

data/sample/en_US.newsSample.txt
Appx/v25i05.R
data/sample/en_US.twitterSample.txt
data/sample/en_US.blogsSample.txt
.RData
*.RData
data/final/de_DE/de_DE.blogs.txt
data/final/de_DE/de_DE.news.txt
data/final/de_DE/de_DE.twitter.txt
data/final/en_US/en_US.blogs.txt
data/final/en_US/en_US.news.txt
data/final/en_US/en_US.twitter.txt
data/final/fi_FI/fi_FI.blogs.txt
data/final/fi_FI/fi_FI.news.txt
data/final/fi_FI/fi_FI.twitter.txt
data/final/ru_RU/ru_RU.blogs.txt
data/final/ru_RU/ru_RU.news.txt
data/final/ru_RU/ru_RU.twitter.txt
data/sample/profanityList.txt
.Rhistory
.RData
.RDataTmp
data/sample/profanityList.txt
