
.Rproj.user/354B9129/build_options
.Rproj.user/354B9129/sources/prop/E4359FBA
.Rproj.user/354B9129/sources/prop/INDEX
.Rproj.user/354B9129/sources/s-C84959BE/615BA3A0
.Rproj.user/354B9129/sources/s-C84959BE/615BA3A0-contents
.Rproj.user/354B9129/sources/s-C84959BE/7AAEF28A
.Rproj.user/354B9129/sources/s-C84959BE/7AAEF28A-contents
.Rproj.user/354B9129/sources/s-C84959BE/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/*
*.Rproj
